[Unit]
Description=Web-based terminal
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/tmp/gateone.pid
WorkingDirectory=/
ExecStart=/usr/local/bin/gateone --log_file_prefix=/gateone/logs/gateone.log --port=8080
Restart=on-abort

[Install]
WantedBy=multi-user.target
